.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #212121;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #8f366f;
  font-size: 8rem;
  color: #cf69ec;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.buttons{
  margin-top: 20px;
  
}

button{
  width: 150px;
  height: 50px;
  border: none;
  border-radius:10px;
  padding: 7px;
  margin: 5px;
  font-family: 'Indie Flower', cursive;
  color:white;
  background-color: #3e3939 ;
  font-weight:bold ;
  font-size: larger;
  box-shadow: 2px 2px 4px #746868;
  cursor: pointer;
}

